log.txt
.omg/state/learn-watch.json
.geminiignore
.kilo/agent-manager.json

*.log
*.tmp
*.bak
*.swp
*undefined/

.omo/run-continuation/ses_1b7c28f88ffempWsLYhIwDdTWY.json
.omo/run-continuation/ses_1b77ca093ffeP1YPFVpCIAOVwy.json
.omo/run-continuation/ses_1b2363346ffeSXmy2niy3MxCyp.json
